.tableRowProgressColors0 {
  background-color: #75461a;
}
.tableRowProgressColors1 {
  background-color: #5f75c9;
}
.tableRowProgressColors2 {
  background-color: #007f61;
}
.tableRowProgressColors3 {
  background-color: #8a6830;
}
.tableRowProgressColors4 {
  background-color: #87820b;
}
.tableRowProgressColors5 {
  background-color: #385596;
}
.tableRowProgressColors6 {
  background-color: #008586;
}
.tableRowProgressColors7 {
  background-color: #8c532d;
}

.tableRowProgressColorsLightMode0 {
  background-color: #ffb7d2;
}
.tableRowProgressColorsLightMode1 {
  background-color: #9fe7e6;
}
